[user]
	email = pierre@clsn.fr
	name = Pierre Colson

[alias]
	st = status -s
	lg = log --oneline --graph --all

[column]
	ui = auto

[branch]
        sort = -committerdate
[tag]

        sort = version:refname

[init]
        defaultBranch = main

[diff]
        algorithm = histogram
        colorMoved = plain
        mnemonicPrefix = true
        renames = true

[push]
        default = simple
        autoSetupRemote = true
        followTags = true

[fetch]
        prune = true

[help]
        autocorrect = prompt

